<!DOCTYPE html>

<html>
    <head>
        <title>Students</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <style>
            #box{
                background-color: #fff;
                margin-top: 25px;
                padding: 20px;
                -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
                box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.75);
                border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                border: 0px solid #000000;
            }
        </style>
    </head>
    <body class="bg-info">
        <div id="box" class="col-md-6 offset-md-3">
            {{{body}}}
        </div>

    </body>
</html>